@{
  Layout = "_Layout";
}

<div class="container">

  <h1>List of Stylists in our HairSalon:</h1>

  @if (@Model.Count == 0)
  {
    <h3>No stylists exist!</h3>
  }

  @foreach (var stylist in Model)
  {
    <h3><a href='/stylists/@stylist.GetId()'>@stylist.GetName(), @stylist.GetDescription()</a></h3>
    <p><a href='/stylists/@stylist.GetId()/delete'>Remove this stylist from list</a></p>
    <br>
  }

  <p><a href='/stylists/new'>Add a new stylist</a></p>
  <p><a href='/'>Home Page</a></p>
</div>
